/* ******************************* Global Styles ******************************* */
.SweetBay {
	max-width: 1201px;
	box-sizing: border-box;
	background: url('./assets/cake.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(255, 255, 255, .8);
	background-position: 0 18%;
	background-blend-mode: lighten;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}