/* ******************************* Global Styles ******************************* */
#root {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
}
.SweetBay {
	position: relative;
	max-width: 1200px;
	box-sizing: border-box;
	background: url('./assets/cake.svg');
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, .6);
	background-blend-mode: lighten;
	background-position: center;
	margin: auto;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

textarea {
	border: 1px solid lightgrey;
	width: 100%;
	max-width: 550px;
}

select {
	border: 1px solid lightgrey;
	margin-left: 5px;
	cursor: pointer;
}
input:not([text="checkbox"]), button {
	border: 1px solid lightgrey;
}
input, button {
	cursor: pointer;
}
.submitOrder {
	margin: .5rem 0 4rem 1rem;
	border-radius: 5px;
	font-size: 1.2rem;
	padding: .5rem;
}
