.cakeChart img.close {
  position: absolute;
  left: 1rem;
  top: 1rem;
	width: 30px;
	cursor: pointer;
}
.cakeChart img {
  width: 100%;
  object-fit: contain;
}
.modal {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, .5);
  top: 0;
  padding: .1rem;
  height: 3000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cakeChart {
  position: absolute;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  padding: 1rem;
  background: white;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
}

@media (min-width: 700px){
  .cakeChart {
    width: 80%
  }
}
@media (min-width: 1100px){
  .cakeChart {
    width: 50%;
  }
}